<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>

    <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet"/>
    
    <link rel="stylesheet" href="/Users/purush/Movies/OWN-WEBSITES/Portfoilio/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    </head>

    <body style="background-color:grey">

        <section class="header">

            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                  <ul id="contact-i" style="color: aliceblue !important; padding-left:0px; margin-bottom:0px;">
                    <li><a href="https://www.instagram.com/dustyofficialy/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="mailto:dustyofficial1@gmail.com"><i class="fas fa-envelope"></i></a></li>
                    <li><a href="http://github.com/purushothaman19"><i class="fab fa-github"></i></a></li>
                    <!-- <li><a href="http://github.com/purushothaman19"><i class="fab fa-twitter"></i></a></li> -->
                  </ul>

                  <a class="navbar-brand" href="#">Purush</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
                          <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Works</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Contact</a>
                        </li>

                      <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li> -->
                    </ul>
                  </div>
                </div>
              </nav>
            
        </section>

        <section class="middle">
          <div class="container">
          <div class="m-head">
            <h4 class="wel-text">Hello Everyone!</h3>
              <!-- <p style="color:cornflowerblue;">Good to se you</p> -->
          </div>

          <div class="row">

            <div class="col-lg-6 col-md-6 bio1">
              <img class="pp" src="https://images.unsplash.com/photo-1593642531955-b62e17bdaa9c?ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
            </div>

            <div class="col-lg-6 col-md-6 bio2">

              <p>I'm <span class="name">Purush</span></p>
              <p style="font-size: 1rem;">Website Developer.</p>

              <ul id="contacth" style="padding-left: 0px;">
                <li><a href="https://www.instagram.com/dustyofficialy/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="mailto:dustyofficial1@gmail.com"><i class="fas fa-envelope"></i></a></li>
                <li><a href="http://github.com/purushothaman19"><i class="fab fa-github"></i></a></li>
                <li><a href="http://github.com/purushothaman19"><i class="fab fa-twitter"></i></a></li>
              </ul>

            </div>

          </div>
        </div>
        </section>

        <section class="footer">
            <p class='footertext' style="color: rgb(209, 215, 219);">
            @copyrights<span style="font-family:'Garamond', serif; padding-left:0.2%">purush g</span>
            </p>
        </section>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        
        
        </body>
    
    </html>